[package]
name = "cocogitto"
version = "4.0.1"
authors = ["Paul Delafosse <paul.delafosse@protonmail.com>"]
edition = "2018"
readme = "README.md"
license = "MIT"
repository = "https://github.com/cocogitto/cocogitto"
description = """
Cocogitto is a set of cli tools for the conventional commit
and semver specifications.
"""

[profile.release]
opt-level = 2
lto = "fat"
codegen-units = 1
panic = "abort"

[dependencies]
git2 = { version = "^0", default-features = false, features = [] }
anyhow = "^1"
colored = "^2"
chrono = { version = "0.4.19", features = ["serde"] }
config = { version = "^0", default-features = false, features = ["toml"] }
edit = "^0"
itertools = "^0"
serde = { version = "^1", features = ["derive"] }
tempfile = "^3"
semver = "^1"
shell-words = "^1"
which = "^4"
lazy_static = "^1"
toml = "^0"
structopt = { version = "^0", optional = true }
conventional_commit_parser = "0.9.3"
pest = "2.1.3"
pest_derive = "2.1.0"
tera = "1.12.1"

[dev-dependencies]
assert_cmd = "1.0.3"
predicates = "1"
rand = "0.7.3"
indoc = "1.0.3"
speculoos = "0.8.0"
pretty_assertions = "1.0.0"

[features]
default = ["cli"]
cli = ["structopt"]

[lib]
name = "cocogitto"
path = "src/lib.rs"

[[bin]]
name = "cog"
path = "src/bin/cog.rs"
required-features = ["structopt"]

[[bin]]
name = "coco"
path = "src/bin/coco.rs"
required-features = ["structopt"]

[[test]]
name = "all"
path = "tests/common.rs"
