[package]
name = "cocogitto"
version = "4.1.0"
authors = ["Paul Delafosse <paul.delafosse@protonmail.com>"]
edition = "2021"
readme = "README.md"
license = "MIT"
repository = "https://github.com/cocogitto/cocogitto"
categories = ["command-line-utilities", "development-tools"]
keywords = ["git", "conventional-commit", "changelog", "semver"]
description = """
Cocogitto is a set of cli tools for the conventional commit
and semver specifications.
"""
autobins = false

[profile.release]
opt-level = 2
lto = "fat"
codegen-units = 1
panic = "abort"

[dependencies]
git2 = { version = "^0", default-features = false, features = [] }
anyhow = "^1"
colored = "^2"
chrono = { version = "0.4.19", features = ["serde"] }
config = { version = "^0", default-features = false, features = ["toml"] }
edit = "^0"
itertools = "^0"
serde = { version = "^1", features = ["derive"] }
tempfile = "^3"
semver = "^1"
shell-words = "^1"
which = "^4"
lazy_static = "^1"
toml = "^0"
clap = { version = "3.0", optional = true, features = ["derive"] }
clap_complete = { version = "3.0", optional = true }
conventional_commit_parser = "0.9.4"
pest = "2.1.3"
pest_derive = "2.1.0"
tera = "1.12.1"

[dev-dependencies]
assert_cmd = "1.0.3"
predicates = "1"
rand = "0.7.3"
indoc = "1.0.3"
speculoos = "0.8.0"
pretty_assertions = "1.0.0"
sealed_test = "0.1.0"
cmd_lib = "1.3.0"

[features]
default = ["cli"]
cli = ["clap", "clap_complete"]

[lib]
name = "cocogitto"
path = "src/lib.rs"

[[bin]]
name = "cog"
path = "src/bin/cog.rs"
required-features = ["clap", "clap_complete"]

[[bin]]
name = "coco"
path = "src/bin/coco.rs"
required-features = ["clap", "clap_complete"]

[[test]]
name = "all"
path = "tests/common.rs"
